LINE_CHANNEL_SECRET=1c2ab0310db47ca0710b64bbb976e3b0
LINE_CHANNEL_ACCESS_TOKEN=sxZvkJ/GC7RdtY6jmav7xB9TFcmTIqZw9FJ5zF4rQMKUVwuZGl467dBL8bzvN/8Yor8geOWVqc06sa6ufPEVwipidocTrCgYCYRUoMf9RMGL3Z/dCCRwGnQ3e4TdRHpPua15cjRHUiYRz3evDJQXrgdB04t89/1O/w1cDnyilFU=
PORT=8000